

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

select {
	font-size: 20px;
	color: #929292;
	text-transform: uppercase;
	border: 1px solid #ccc;
	padding: 10px;
	width:300px;
	background: white;
	-webkit-appearance: none;
	border-radius: 0px;
	background: -webkit-linear-gradient(top, #fff 0%, #f3f3f3 100%);
}

select:hover {
	background: #f3f3f3;
}

.custom-selectbox{
    position: relative;
    display: inline-block;
}
.custom-selectbox:after{
    content: " ";
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #bdc3c7;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 0;
    pointer-events:none;
    transition: all 0.3s linear;
}
.custom-selectbox.open:after{
    transform: rotate(-180deg);
}

.relative {
	position: relative;
}

#wrapper {

}

.top-bar {
	padding-top: 5px;
	min-height : 40px;
	width: 100%;
	background-color: #2c3e50;
	color: #ffffff;
	position: relative;
}

.top-bar a {
	color: #ffffff;
}

.top-bar .social-media {
	font-size: 20px;
	float: left;
	margin-right: 28px;
}

.top-bar .social-media ul {
	list-style-type: none;
	padding-left: 0;
}

.top-bar .social-media ul li {
	display: inline-block;
	margin-right: 12px;
}

.top-bar .social-media ul li a {
	color: #ffffff;
}

.top-bar .message {
	margin-top: 7px;
}

.top-bar .menu {
}

.top-bar .menu ul {
	float: right;
	margin-top: 7px;
	list-style-type: none
}

.top-bar .top-bar-menu>li {
	display: inline;
	margin-left: 8px;
}

.top-bar .menu .dropdown ul li {
	margin-right: 0px;
}

header{
	width: 100%;
	min-height: 130px;
	background-color: #fcfcfc;
	padding-top: 40px;
	font-size: 16px;
}

header a {
	color:#292929;
}

header .logo{
	float: left;
	margin-right: 55px;
}

header .menu ul{
	list-style-type: none;
	margin-top: 15px;
}

header .menu .primary-menu li{
	display: inline;
	margin-right: 20px;
}

header .menu ul li a { 
	text-decoration: none
}

header .menu ul li a:hover { 
	font-weight: bold;
}

header .menu .dropdown ul li {
	margin-right: 0px;
}

header .cart{
	margin-top: 5px;
	color: #2c3e50;
}

header .cart .price{
	border-right: 1px solid black;
	padding-right: 10px;
	vertical-align: middle;
}

header .cart .shopping-cart {
	font-size: 25px;
	margin-left:10px;
}

.slider img {
	width: 100%;
}

.banner .banner-left {
	/*width: 100%;*/
	height: 500px;
	margin-top: 40px;
	background-color: #aaa;
	/*position: relative;*/
}

.banner .banner-right {
	margin-top: 40px;
}

.banner .banner-left p, .banner .banner-right p {
	text-align: center;
	vertical-align: middle;
	line-height: 500px;
	font-size: 30px;
	color: #fff;
}

.banner .banner-right p{
	line-height: 235px;
}

.banner .banner-right div {
	background-color: #aaa;
	height: 235px;
	margin-bottom: 30px;
}

.title, .desc {
	font-size: 30px;
	color: #292929;
	text-align: center;
}

.desc {
	font-size: 20px;
	display: block;
	text-align: center;
}

.product-list .title-desc {
	margin: 45px 0 20px 0;
}

.product-list .arrow-left, .product-list .arrow-right {
	position: absolute;
	top: 30%;
	font-size: 40px;
	color: #2c3e50;
	cursor: pointer;
}

.product-list .arrow-right {
	right: 15px;
	color: #ecf0f1;
}

.product h2, .product span {
	font-size: 20px;
	margin-top: 10px;
}

.product h3 {
	font-size: 15px;
	margin-top: 3px;
}

.product span {
	font-size: 16px;
	float: right;
}

.sale-product span{
	margin-top: -5px;
	font-weight: 900;
}

.product span.sale {
	font-size: 14px;
	margin-top: 10px;
	opacity: 0.5;
}

.product img {
	width: 100%;
}

.product-detail {
	margin-top: 20px;
}

.product-detail ul.distro-breadcrumb {
	list-style-type: none;
	font-size: 18px;
	padding-left: 0;
}

.product-detail ul.distro-breadcrumb>li {
	display: inline-block;
	text-transform: uppercase;
}

.product-detail ul.distro-breadcrumb>li a{
	color : #292929;
	text-decoration: none;
}

.product-detail ul.distro-breadcrumb>li a:hover {
	font-weight: 300;
}

.product-detail ul.distro-breadcrumb>li:last-child {
	font-weight: 300;
}

.product-detail ul.distro-breadcrumb>li:not(:last-child):after {
	content: "\00a0 \00a0 \f054 \00a0 \00a0";
	font-family: FontAwesome;
}

.product-image img {
	width: 100%;
}

.product-detail .product-name {
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}

.product-detail-meta .product-name>h1 {
	margin-top: 0;
}

.product-detail-meta .product-rating {
	font-size: 23px;
	color: #ff8226;
	display: block;
	background: #ffffff;
	padding: 0 15px 0 15px;
	position: absolute;
	top: 70%;
	left: 35%;
}

.product-detail-meta .product-rating-count {
	font-size: 11px;
}

.product-detail-meta .product-price {
	font-size: 36px;
	margin-top: 50px;
}

.product-detail-meta .product-description {
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
}

.product-attributes .attribute-title {
	font-size: 18px;
}

.product-attributes .attribute {
	margin-top:20px;
}