

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
}

/*input[type="number"] {
	position: relative;
	font-size: 20px;
	color: #929292;
	border: 1px solid #ccc;
	padding: 10px;
	background: white;
	-webkit-appearance: none;
	border-radius: 0px;
	height: 50px;
	background: url(../../images/spinner-number.png) no-repeat right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    margin: 0;
}

input[type="number"]:hover {
	cursor: pointer;
}*/



select {
	font-size: 20px;
	color: #929292;
	text-transform: uppercase;
	border: 1px solid #ccc;
	padding: 10px;
	width:300px;
	background: white;
	-webkit-appearance: none;
	border-radius: 0px;
	background: -webkit-linear-gradient(top, #fff 0%, #f3f3f3 100%);
}

select:hover {
	background: #f3f3f3;
}

.custom-selectbox{
    position: relative;
    display: inline-block;
}
.custom-selectbox:after{
    content: " ";
    height: 0;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #bdc3c7;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 0;
    pointer-events:none;
    transition: all 0.3s linear;
}
.custom-selectbox.open:after{
    transform: rotate(-180deg);
}

.relative {
	position: relative;
}

#wrapper {

}

.top-bar {
	padding-top: 5px;
	min-height : 40px;
	width: 100%;
	background-color: #2c3e50;
	color: #ffffff;
	position: relative;
}

.top-bar a {
	color: #ffffff;
}

.top-bar .social-media {
	font-size: 20px;
	float: left;
	margin-right: 28px;
}

.top-bar .social-media ul {
	list-style-type: none;
	padding-left: 0;
}

.top-bar .social-media ul li {
	display: inline-block;
	margin-right: 12px;
}

.top-bar .social-media ul li a {
	color: #ffffff;
}

.top-bar .message {
	margin-top: 7px;
}

.top-bar .menu {
}

.top-bar .menu ul {
	float: right;
	margin-top: 7px;
	list-style-type: none
}

.top-bar .top-bar-menu>li {
	display: inline;
	margin-left: 8px;
}

.top-bar .menu .dropdown ul li {
	margin-right: 0px;
}

header{
	width: 100%;
	min-height: 130px;
	background-color: #fcfcfc;
	padding-top: 40px;
	font-size: 16px;
}

header a {
	color:#292929;
}

header .logo{
	float: left;
	margin-right: 55px;
}

header .menu ul{
	list-style-type: none;
	margin-top: 15px;
}

header .menu .primary-menu li{
	display: inline;
	margin-right: 20px;
}

header .menu ul li a { 
	text-decoration: none
}

header .menu ul li a:hover { 
	font-weight: bold;
}

header .menu .dropdown ul li {
	margin-right: 0px;
}

header .cart{
	margin-top: 5px;
	color: #2c3e50;
}

header .cart .price{
	border-right: 1px solid black;
	padding-right: 10px;
	vertical-align: middle;
}

header .cart .shopping-cart {
	font-size: 25px;
	margin-left:10px;
}

.slider img {
	width: 100%;
}

.banner .banner-left {
	/*width: 100%;*/
	height: 500px;
	margin-top: 40px;
	background-color: #aaa;
	/*position: relative;*/
}

.banner .banner-right {
	margin-top: 40px;
}

.banner .banner-left p, .banner .banner-right p {
	text-align: center;
	vertical-align: middle;
	line-height: 500px;
	font-size: 30px;
	color: #fff;
}

.banner .banner-right p{
	line-height: 235px;
}

.banner .banner-right div {
	background-color: #aaa;
	height: 235px;
	margin-bottom: 30px;
}

.title, .desc {
	font-size: 30px;
	color: #292929;
	text-align: center;
}

.desc {
	font-size: 20px;
	display: block;
	text-align: center;
}

.product-list .title-desc {
	margin: 45px 0 20px 0;
}

.product-list .arrow-left, .product-list .arrow-right {
	position: absolute;
	top: 30%;
	font-size: 40px;
	color: #2c3e50;
	cursor: pointer;
}

.product-list .arrow-right {
	right: 15px;
	color: #ecf0f1;
}

.product h2, .product span {
	font-size: 20px;
	margin-top: 10px;
}

.product h3 {
	font-size: 15px;
	margin-top: 3px;
}

.product span {
	font-size: 16px;
	float: right;
}

.sale-product span{
	margin-top: -5px;
	font-weight: 900;
}

.product span.sale {
	font-size: 14px;
	margin-top: 10px;
	opacity: 0.5;
}

.product img {
	width: 100%;
}

.product-detail {
	margin-top: 20px;
}

.product-detail ul.distro-breadcrumb {
	list-style-type: none;
	font-size: 18px;
	padding-left: 0;
}

.product-detail ul.distro-breadcrumb>li {
	display: inline-block;
	text-transform: uppercase;
}

.product-detail ul.distro-breadcrumb>li a{
	color : #292929;
	text-decoration: none;
}

.product-detail ul.distro-breadcrumb>li a:hover {
	font-weight: 300;
}

.product-detail ul.distro-breadcrumb>li:last-child {
	font-weight: 300;
}

.product-detail ul.distro-breadcrumb>li:not(:last-child):after {
	content: "\00a0 \00a0 \f054 \00a0 \00a0";
	font-family: FontAwesome;
}

.product-image img {
	width: 100%;
}

.product-image .gallery {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.product-image .gallery img {
	height: 116px;
	width: 116px;
	opacity: 0.5;
	cursor: pointer;
	border: 1px solid #eee;
}

.product-image .gallery img:hover {
	opacity: 1;
}

.product-image .gallery img:not(:first-child) {
}
.product-detail .product-name {
	border-bottom: 2px solid black;
	padding-bottom: 10px;
}

.product-detail-meta .product-name>h1 {
	margin-top: 0;
}

.product-detail-meta .product-rating {
	font-size: 23px;
	color: #ff8226;
	display: block;
	background: #ffffff;
	padding: 0 15px 0 15px;
	position: absolute;
	top: 70%;
	left: 35%;
}

.product-detail-meta .product-rating-count {
	font-size: 11px;
}

.product-detail-meta .product-price {
	font-size: 36px;
	margin-top: 50px;
}

.product-detail-meta .product-description {
	font-size: 18px;
	font-weight: 300;
	margin-top: 10px;
}

.product-attributes .attribute-title {
	font-size: 18px;
}

.product-attributes .attribute {
	margin-top:20px;
}

.product-buttons {
	margin-top: 30px;
}

.product-buttons .quantity-group {
	display: inline-block;
}

.product-buttons input[type="button"] {
	position: relative;
	font-size: 20px;
	height: 50px;
	padding: 10px;
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #ccc;
}
.product-buttons input[type="button"].plus, 
.product-buttons input[type="button"].minus {
	width: 30px;
}

.product-buttons input[type="button"].minus, 
.product-buttons input[type="number"] {
	float: left;
}

.product-buttons input[type="button"].add-to-cart {
	text-transform: uppercase;
	background-color: #2c3e50;
	color: white;
	font-weight: 300;
	margin-left: 10px;
}

.product-buttons input[type="number"] {
	font-size: 20px;
	color: #929292;
	border: 1px solid #ccc;
	padding: 10px;
	background: white;
	border-radius: 0;
	height: 50px;
	text-align: center;
	width: 70px;
	border-left: 0;
	border-right: 0;
}

.product-buttons input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  margin: 0;
  padding: 0;
	-webkit-appearance: none;
}

.additional-actions {
	font-size: 14px;
	margin-top: 20px;
}

.additional-actions a {
	text-decoration: none;
	color: #929292;
	margin-right: 20px;
}

.additional-actions a:hover {
	text-decoration: none;
	color: inherit;
}

.product-extra {
	font-size: 14px;
	color: #929292;
	margin-top: 20px;
}

.product-extra span a {
	color: #929292;
	text-decoration: none
}
.product-extra span a:hover {
	color: inherite;
}

.social-media-share {
	border: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	margin-top: 20px;
	padding: 20px 10px 20px 10px;
}

.social-media-share .share-icon {
	height: 63px;
	width: 63px;
	/*background: #2c3e50;*/
	background: #fff;
	font-size: 36px;
	color: #2c3e50;
	border: 1px solid #000;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
	margin-left: 5px;
}

.social-media-share .share-icon:hover {
	background: #2c3e50;
	color: #fff;
}

.social-media-share .share-text {
	font-size: 18px;
	margin-left: 80px;
	margin-top: 5px;
}

/* product tabs */

.product-tabs {
	margin-top: 30px;
	/*border-top: 1px solid #ccc;*/
	padding: 0;
}

.product-tabs ul {
	list-style-type: none;
	padding: 0;
	font-size: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
}

.product-tabs ul li {
	display: inline-block;
	margin-right: 20px;
	padding: 10px;
}

.product-tabs ul li.active {
	background-color: #ccc;
}

.product-tabs ul li.active a {
	color: #000;	
}

.product-tabs ul li a {
	color: #929292;
	text-decoration: none;
}

.product-tabs ul li:hover {
	background-color: #ccc;
}

.product-tabs ul li a:hover {
	color: #000;
}

.tabs-content {
	font-size: 14px;
}

.tabs-content .tab {
	display: none;
}
.tabs-content .active {
	display: block;
}

.tabs-content .tab .text {
	font-size: 20px;
}

.comment-container {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.comment-container .avatar {
	margin-right: 20px;
}

.comment-container .comment {
	width: 91.6%;
  float: right;
	background-color: #f2f2f2;
	padding:20px 20px 10px 20px;
}

.comment-container .comment .textbox {
	text-align: left;
}

.comment-container .comment .meta {
	font-size: 11px;
	margin-top: 10px;
	float: right;
}



